#hello
    #hello-panel.panel.panel-default(ng-model="message", ng-init="message = 'Search Now!'")
        .panel-heading
            .panel-title Nino
        .panel-body
            .jumbotron
                .container
                    h1 {{ message }}
                    p Nino is a template project, just for you.
                    p Angular, Bootstrap, and much more!
                    p
                        a.btn.btn-primary.btn-lg(ui-sref="search") {{ message }}
                    p
                        a.btn.btn-primary.btn-lg(ui-sref="chat") Chat
